<section mat-dialog-title>
	<h3>
		{{ 'passholders.title' | translate }}
	</h3>
	<button
		ariaAttributes
		mat-dialog-close
		class="close-button"
		[attr.ariaLabel]="'general.button.close' | translate"
		[ariaLabelTranslation]="'general.button.close'"
		(click)="close()">
		<centric-icon2 [svgIcon]="'cancel_b'" [size]="'16'"></centric-icon2>
	</button>
</section>
<section mat-dialog-content>
	<form centric-complex-form [formGroup]="importPassholdersForm">
		<p>{{ 'passholders.uploadDescription' | translate }}</p>
		<centric-form-item>
			<centric-form-label [attrFor]="'citizen-group-id'">
				{{ 'general.citizenGroup' | translate }}
			</centric-form-label>
			<centric-form-control frontendRequiredInput>
				<windmill-select
					formControlName="citizenGroup"
					ariaAttributes
					[ariaLabelClearButton]="'general.label.clear' | translate"
					[id]="'citizen-group-id'"
					[hasClearIcon]="true"
					[placeholder]="'passholders.citizenGroupPlaceholder' | translate"
					[source]="citizenGroupData"
					[displayPropertyName]="'label'"
					[valuePropertyName]="'id'"
					[ariaDescribedby]="
						importPassholdersForm.get('citizenGroup')?.errors &&
						importPassholdersForm.get('citizenGroup')?.touched
							? 'citizen-group-error'
							: ''
					"
					[validationFunction]="validationFunctionError.bind(this, 'citizenGroup', importPassholdersForm)">
					@if (hasFormControlRequiredErrors('citizenGroup', importPassholdersForm)) {
						<ng-container errors>
							<span class="centric-error-message" [attr.id]="'citizen-group-error'">
								{{ 'passholders.citizenGroupRequired' | translate }}
							</span>
						</ng-container>
					}
				</windmill-select>
			</centric-form-control>
		</centric-form-item>

		<frontend-drag-file
			[permittedFormats]="acceptedFormats"
			(fileSelected)="onFileSelected($event)"></frontend-drag-file>

		<centric-link
			class="align-left"
			innerHref="./assets/_templates/import_passholders.csv"
			type="ghost-theme"
			download="true">
			{{ 'passholders.download' | translate }}
		</centric-link>
	</form>
</section>
<section mat-dialog-actions>
	<centric-button type="ghost-greyscale" (click)="close()">
		{{ 'general.button.cancel' | translate }}
	</centric-button>
	<centric-button (click)="uploadCsv()" [disabled]="isImportDisabled">
		{{ 'general.button.import' | translate }}
	</centric-button>
</section>
