@use '../../../../../../libs/shared-assets/_styles/mixins';

:host {
	width: 100%;
	overflow: hidden;

	::ng-deep {
		windmill-card,
		windmill-tab-group {
			height: 100%;
		}

		.windmill-tab {
			height: 100%;
			max-height: calc(100vh - 162px);
			overflow-y: auto;

			.no-data {
				height: calc(100vh - 166px);
			}
		}
	}
}
