<windmill-tab-group [theme]="'underlined'" [selectedIndex]="tabIndex" (selectedTabChange)="tabChanged($event)">
	<windmill-tab>
		<ng-template windmill-tab-label>
			<centric-icon2 [svgIcon]="'shop_b'" [size]="'20'"></centric-icon2>
			<span>{{ 'general.pages.supplierDetails' | translate }}</span>
		</ng-template>
		<ng-container card-content>
			<frontend-supplier-profile [isReadOnly]="true"></frontend-supplier-profile>
		</ng-container>
	</windmill-tab>

	<windmill-tab>
		<ng-template windmill-tab-label>
			<centric-icon2 [svgIcon]="'star_b'" [size]="'20'"></centric-icon2>
			<span>{{ 'general.pages.offers' | translate }}</span>
		</ng-template>
		<ng-container card-content>
			<frontend-offers-for-municipality [supplierId]="supplierId"></frontend-offers-for-municipality>
		</ng-container>
	</windmill-tab>
</windmill-tab-group>

<ng-template #noData>
	<frontend-no-data [noDataTitle]="'noDataTitle'" [noDataDescription]="'noDataDescription'"> </frontend-no-data>
</ng-template>
