@import '../../../../../../libs/shared-assets/_styles/mixins';

:host {
	width: 100%;
	overflow: hidden;

	::ng-deep {
		centric-panel,
		centric-mat-tab-group {
			height: 100%;
		}

		.mat-tab-body-wrapper {
			@include flex(column, flex-start, flex-start);
			gap: 16px;
			height: 100%;
			overflow-y: scroll;
		}

		mat-tab-group {
			height: 100%;
			max-height: calc(100vh - 80px);
		}

		.mat-mdc-tab-body-wrapper:has(frontend-offers-for-municipality) {
			padding: 0px !important;
		}
	}
}
