@use '../../../../../../libs/shared-assets/_styles/mixins';

:host {
	width: 100%;
	overflow: hidden;

	::ng-deep {
		centric-panel,
		windmill-tab-group {
			height: 100%;
		}

		.windmill-tab {
			height: 100%;
			max-height: calc(100vh - 160px);
			overflow-y: scroll;
		}
	}
}
