<div class="supplier-edit">
  @if (isRejectedStatus) {
    <centric-alert type="warning">
      <section message>
        {{ 'rejectSupplier.reapplication' | translate }}
        <ul>
          @for (item of rejectionDetailsList; track $index) {
            <li>
              <span class="bold">{{ item.label | translate }}</span>
              {{ item.value | translate }}.
            </li>
          }
        </ul>
      </section>
    </centric-alert>
  }
  <div class="supplier-profile-panel">
    <frontend-supplier-profile-panel [isRejectedStatus]="isRejectedStatus"></frontend-supplier-profile-panel>
  </div>
</div>
