@use '../../../../../../libs/shared-assets/_styles/mixins' as mixins;

:host {
	@include mixins.flex(column);

	::ng-deep {
		.centric-alert {
			@include mixins.size(100%);
		}

		centric-panel {
			@include mixins.size(100%, 100%);
		}

		// .qr-code-panel {
		// 	.panel-content {
		// 		@include mixins.flex(column, center, center);
		// 		padding: 32px;
		// 	}
		// }
	}
}

.dashboard-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);
	align-items: start;
	gap: 16px;
	padding-right: 16px;
	padding-left: 16px;
	height: calc(100% - 52px);
}

.welcome {
	font-size: 24px;
	padding: 16px;
	color: var(--greyscale-700);
}

// .qr-code-panel {
// 	grid-column: 3 / 4;
// 	grid-row: 1 / 3;

// 	::ng-deep {
// 		.panel-content {
// 			height: auto;
// 			@include mixins.flex(column, space-between);
// 		}
// 	}

// 	img {
// 		width: 50%;
// 	}
// }

.add-offer-section {
	grid-column: 1 / 3;
	grid-row: 1 / 2;

	::ng-deep {
		.panel-content {
			display: flex;
			padding: 32px;
			gap: 16px;
		}
	}

	img {
		@include mixins.size(156px, 132px);
		max-width: 156px;
		max-height: 132px;
		border-radius: 8px;
		border: 1px solid var(--greyscale-100);
	}

	.right-section {
		@include mixins.flex(column, center, flex-start);
		gap: 16px;
	}

	.empty-logo {
		@include mixins.flex(column, center, center);
		@include mixins.size(160px, 160px);
		min-width: 160px;
		border-radius: 8px;
		background: var(--greyscale-50);
	}

	centric-icon2 {
		color: var(--greyscale-400);
	}
}

.offer-chart {
	height: 100%;
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

frontend-transactions-panel {
	grid-column: 1 / 3;
	grid-row: 2 / 5;
}

.used-offer-chart {
	grid-column: 3 / 5;
	grid-row: 3 / 5;
}

@media only screen and (max-width: 1366px) {
	.dashboard-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: none;
		height: fit-content;
	}

	.add-offer-section {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	// .qr-code-panel {
	// 	grid-column: 1 / 2;
	// 	grid-row: 2 / 3;

	// 	img {
	// 		width: 80%;
	// 	}
	// }

	.offer-chart {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}

	frontend-transactions-panel {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}

	.used-offer-chart {
		grid-column: 3 / 1;
		grid-row: 4 / 5;
	}
}