@use '../../../../../../libs/shared-assets/_styles/mixins' as mixins;

$background-image: '/assets/images/login.svg';

::ng-deep {
	@media screen and (max-width: 600px) {
		mat-dialog-container.mdc-dialog .mat-mdc-dialog-surface {
			width: 94vw;
		}
	}
}

.background-cover {
	@include mixins.size(100%, 100%);
	@include mixins.background-image($background-image, cover, no-repeat, center);
}
