:host {
	height: 100%;
	::ng-deep {
		centric-panel,
		windmill-tab-group {
			height: 100%;
		}

		.windmill-tab,
		.windmill-tab-body,
		.windmill-tab-group {
			height: 100%;
			max-height: calc(100vh - 140px);
		}

		.full-size-panel {
			height: 100%;

			.centric-tabs,
			.centric-tab-group,
			.mat-tab-body-wrapper,
			.mat-mdc-tab-body-wrapper {
				height: 100%;
			}
		}

		.mat-mdc-tab-body-wrapper {
			padding: 0 !important;
		}

		.centric-inner-button.small {
			padding: 6px 16px;
		}
	}
}
