<windmill-tab-group
	[theme]="'underlined'"
	[hasPadding]="false"
	[selectedIndex]="0"
	[class.full-size-panel]="isFullSize()"
	(selectedTabChange)="tabChanged($event)">
	@if (shouldDisplayManageColumns()) {
		<ng-container tab-group-buttons>
			<centric-button
				ariaAttributes
				windmill-tooltip
				class="item"
				type="icon-ghost-greyscale"
				iconId="slider-vert_b"
				size="small"
				tooltipColor="dark-grey"
				tooltipPosition="left"
				[ariaLabelTranslation]="'modal.manageColumns.title'"
				[tooltipText]="'modal.manageColumns.title' | translate"
				(click)="manageColumns()"></centric-button>
		</ng-container>
	}
	@if (shouldDisplayInviteSuppliers()) {
		<ng-container tab-group-buttons card-content>
			<centric-button
				type="high-emphasis-theme"
				iconId="plus_b"
				size="small"
				(click)="openInviteSuppliersModal()">
				{{ 'general.inviteSuppliers' | translate }}
			</centric-button>
		</ng-container>
	}

	<windmill-tab>
		<ng-template windmill-tab-label>
			<windmill-icon [svgIcon]="'shop_b'" [size]="'20'"></windmill-icon>
			<span>{{ 'general.pages.suppliers' | translate }}</span>
		</ng-template>
		@if (shouldDisplaySuppliersTable()) {
			<ng-container card-content>
				<frontend-active-suppliers class="table-pannel" [dataCount]="suppliersCount" #activeSuppliers>
				</frontend-active-suppliers>
			</ng-container>
		} @else {
			<frontend-no-data class="table-pannel" [noDataTitle]="noDataTitle" [noDataDescription]="noDataDescription">
				@if (tabIndex !== 1) {
					<centric-button type="high-emphasis-theme" iconId="plus_b" (click)="openInviteSuppliersModal()">
						{{ 'general.inviteSuppliers' | translate }}
					</centric-button>
				}
			</frontend-no-data>
		}
	</windmill-tab>
	<windmill-tab>
		<ng-template windmill-tab-label>
			<windmill-icon [svgIcon]="'bell-clock_b'" [size]="'20'"></windmill-icon>

			<span
				centric-badge
				badgeValue="1"
				badgeSize="small"
				[badgeHidden]="!shouldDisplayRequestsBadge()"
				[badgeOverlap]="false"
				>{{ 'general.pendingRequests' | translate }}</span
			>
		</ng-template>

		@if (shouldDisplayRequestsTable()) {
			<ng-container card-content>
				<frontend-supplier-req
					class="table-pannel"
					(countSuppliersEvent)="updateSuppliersNumber($event.count, $event.actionType)"
					[dataCount]="requestsCount"></frontend-supplier-req>
			</ng-container>
		} @else {
			<frontend-no-data class="table-pannel" [noDataTitle]="noDataTitle" [noDataDescription]="noDataDescription">
				@if (tabIndex !== 1) {
					<centric-button type="high-emphasis-theme" iconId="plus_b" (click)="openInviteSuppliersModal()">
						{{ 'general.inviteSuppliers' | translate }}
					</centric-button>
				}
			</frontend-no-data>
		}
	</windmill-tab>
	<windmill-tab>
		<ng-template windmill-tab-label>
			<windmill-icon [svgIcon]="'envelope_send_bb'" [size]="'20'"></windmill-icon>
			<span>{{ 'general.pages.invitations' | translate }}</span>
		</ng-template>
		@if (shouldDisplayInvitationsTable()) {
			<frontend-invitations
				#invitations
				[dataCount]="invitationsCount"
				(countInvitationsEvent)="getInvitationsCount()"></frontend-invitations>
		} @else {
			<frontend-no-data class="table-pannel" [noDataTitle]="noDataTitle" [noDataDescription]="noDataDescription">
				@if (tabIndex !== 1) {
					<centric-button type="high-emphasis-theme" iconId="plus_b" (click)="openInviteSuppliersModal()">
						{{ 'general.inviteSuppliers' | translate }}
					</centric-button>
				}
			</frontend-no-data>
		}
	</windmill-tab>
</windmill-tab-group>
