<windmill-card class="styled-content" [hasShadow]="true">
	<ng-container card-header>
		<div card-title class="card-title">
		<span>{{ 'dashboard.transactions.title' | translate }}</span>
		<windmill-combo-button
			[menuItems]="dashboardService.dropdownData"
			[contentType]="'dropdown'"
			[dropdownButtonText]="activeTimePeriod | translate"
			[dropdownType]="'uncontained-greyscale'"
			(menuItemSelected)="onTimePeriodChange($event)"
			[disabled]="!isSupplierActive">
		</windmill-combo-button>
		</div>
	</ng-container>
	<div card-content>
		<frontend-transaction-chart #transactionChart> </frontend-transaction-chart>
	</div>
</windmill-card>
