<section mat-dialog-title>
  <h3>
    {{ 'discount.applyDiscount' | translate }}
  </h3>
  <button
    ariaAttributes
    mat-dialog-close
    class="close-button"
    [attr.ariaLabel]="'general.button.close' | translate"
    [ariaLabelTranslation]="'general.button.close'"
    (click)="close()">
    <windmill-icon [svgIcon]="'cancel_b'" [size]="'16'"></windmill-icon>
  </button>
</section>
<div mat-dialog-content>
  @if (discountForm) {
    <form centric-complex-form [formGroup]="discountForm">
      <div
        [attr.aria-hidden]="true"
				[innerHTML]="
					'discount.description'
						| translate
							: {
									offerName: offerName,
									offerType: offerType | translate,
							  }
				"></div>
    <centric-form-item>
      <centric-form-label>{{ 'general.amount' | translate }}</centric-form-label>
      <centric-form-control frontendRequiredInput>
        <windmill-input
          formControlName="amount"
          [placeholder]="'discount.enterAmount' | translate"
          [hasClearIcon]="true"
          [prefix]="'€'"
          [mask]="'separator.2'"
          [separatorLimit]="'100000'"
          [ariaLabelClearIcon]="'general.amount' | translate"
          [ariaLabel]="'discount.enterAmount'"
          [validationFunction]="validationFunctionError.bind(this, 'amount', discountForm)">
          @if (hasFormControlRequiredErrors('amount', discountForm)) {
            <ng-container errors>
              <span class="centric-error-message">
                {{ 'genericFields.amount.amountFormControlRequired' | translate }}
              </span>
            </ng-container>
          }
          @if (hasNonZeroAmountError()) {
            <ng-container errors>
              <span class="centric-error-message">
                {{ 'genericFields.amount.nonZeroAmount' | translate }}
              </span>
            </ng-container>
          }
        </windmill-input>
      </centric-form-control>
    </centric-form-item>
  </form>
}
</div>
<section mat-dialog-actions>
  <centric-button ariaAttributes type="ghost-greyscale" (click)="close()">
    {{ 'general.button.cancel' | translate }}
  </centric-button>
  <centric-button ariaAttributes [disabled]="isFormInvalid()" (click)="applyDiscount()">
    {{ 'discount.applyDiscount' | translate }}
  </centric-button>
</section>
