@if (isDataExisting) {
	<frontend-table
		#passholdersTable
		class="table-pannel"
		[columns]="allColumns"
		[listLength]="dataCount"
		[showFooter]="true"
		[showHeader]="true"
		(actionButtonClicked)="onActionButtonClicked($event)"
		(getSelectedItemsNumber)="onGetSelectedItemsNumber($event)"
		(loadDataEvent)="loadData($event)">
		<ng-container>
			<span class="left-container">{{ 'general.pages.passholders' | translate }} </span>
			<ng-container *ngIf="isDataExisting">
				<section class="right-container">
					<centric-button
						ariaAttributes
						windmill-tooltip
						class="item"
						type="icon-ghost-greyscale"
						iconId="slider-vert_b"
						size="small"
						tooltipColor="surface"
						tooltipPosition="above"
						[ariaLabelTranslation]="'modal.manageColumns.title'"
						[tooltipText]="'modal.manageColumns.title' | translate"
						(click)="manageColumns()"></centric-button>

					<centric-button
						ariaAttributes
						type="high-emphasis-theme"
						iconId="plus_b"
						[ariaLabelTranslation]="'passholders.import'"
						(click)="openPassholdersModal()">
						{{ 'passholders.import' | translate }}
					</centric-button>
				</section>
			</ng-container>
		</ng-container>
	</frontend-table>
} @else {
	<centric-panel class="table-pannel" [class.full-size-panel]="true" [showFooter]="false" [header]="true">
		<ng-container panel-header>
			<span class="left-container">{{ 'general.pages.passholders' | translate }} </span>
		</ng-container>
		<ng-container panel-content>
			@if (showCreateCitizenGroupState) {
				<frontend-no-data
					[imageName]="'no-groups.svg'"
					[noDataTitle]="'passholders.noData.title'"
					[noDataDescription]="'passholders.noData.descriptionNoCitizenGroup'">
					<centric-button type="high-emphasis-theme" iconId="arrow-right_r" (click)="goToProfilePage()">
						{{ 'benefitsPage.goToProfilePage' | translate }}
					</centric-button>
				</frontend-no-data>
			} @else {
				<frontend-no-data
					[noDataTitle]="'passholders.noData.title'"
					[noDataDescription]="'passholders.noData.description'">
					<centric-button type="high-emphasis-theme" iconId="plus_b" (click)="openPassholdersModal()">
						{{ 'passholders.import' | translate }}
					</centric-button>
				</frontend-no-data>
			}
		</ng-container>
	</centric-panel>
}
