@import '../../../../../../libs/shared-assets/_styles/full-size-pannel';
@import '@windmill/windmill/src/lib/assets/utils/mixins';

:host {
	::ng-deep {
		table {
			@include grid-cols(48px, auto, auto, auto, auto, auto, auto, auto, 120px);
		}
	}
}
