@use '../../../../../../libs/shared-assets/_styles/full-size-pannel';
@use '@windmill/windmill/src/lib/assets/utils/mixins' as mixins;

:host {
	::ng-deep {
		table {
			@include mixins.grid-cols(220px, auto, auto, auto, auto, auto, auto, auto, 120px);
		}
	}
}
