:host {
	::ng-deep {
		.centric-chip-container {
			background-color: var(--primary-1);
		}

		centric-chip {
			max-width: fit-content;
		}
	}
}

.email-chip-list {
	margin-top: 8px;
}

.email-error-message {
	margin-top: 4px;
	font-size: var(--font-size-14);
	line-height: 20px;
	font-weight: var(--font-weight-regular);
	color: var(--status-danger-500);
}
