<div class="metrics-section">
	<div class="widgets-section">
		<frontend-info-widget
			*ngFor="let widget of widgetsData"
			[title]="widget.title | translate"
			[value]="widget.value"
			[icon]="widget.icon">
		</frontend-info-widget>
	</div>
	<centric-card [shadow]="true" class="transactions-section">
		<centric-card-header>
			<div centric-card-title>{{ 'dashboard.transactions.title' | translate }}</div>
			<windmill-combo-button
				[menuItems]="dashboardServiceInstance.dropdownData"
				[contentType]="'dropdown'"
				[dropdownButtonText]="activeTimePeriod | translate"
				[dropdownType]="'uncontained-greyscale'"
				(menuItemSelected)="onTimePeriodChange($event)">
			</windmill-combo-button>
		</centric-card-header>
		<div centric-card-content>
			<frontend-transaction-chart #transactionChart> </frontend-transaction-chart>
		</div>
	</centric-card>
</div>

<centric-card [shadow]="true">
	<centric-card-header>
		<div centric-card-title>{{ 'dashboard.map.title' | translate }}</div>
	</centric-card-header>
	<div centric-card-content>
		<frontend-suppliers-map [showMap]="isApproved"></frontend-suppliers-map>
	</div>
</centric-card>
