@use '../../../../../../libs/shared-assets/_styles/mixins' as mixins;

:host {
	::ng-deep {
		.mdc-card.centric-card .mat-mdc-card-content {
			@include mixins.flex(column);
			@include mixins.size(100%, 100%);
			padding: 0 !important;
		}

		.metrics-section {
			.mdc-card.centric-card.mat-mdc-card {
				height: 100%;
			}
		}

		.windmill-combo-button.dropdown .dropdown-combo-button .combo-button-text {
			white-space: nowrap;
		}
	}
}

.metrics-section {
	display: flex;
	gap: 16px;
	padding-bottom: 16px;

	.widgets-section {
		@include mixins.flex(column);
		gap: 16px;
	}

	.transactions-section {
		@include mixins.size(100%, auto);
		flex: 3;
	}
}
