@page {
    size: A4;
    margin: 0;
}

.invoice-title, .invoice-number {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

.invoice-title {
    color: #20233E;
}

.invoice-number {
    color: #0B5E22;
    display: flex;
}

.text-muted {
    margin-top: 8px;
    font-size: 16px;
    color: #505473;
}

.margin {
    margin-top: 8px;
    margin-bottom: 0px;
}

body {
    background-color: #F7F8FC;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 16px;
    margin: 0 20px;
    background: #FFF;
    border: 1px solid #DBDDEB;
    border-radius: 16px;
}

.title {
    font-weight: 600;
    color: #20233E;
    font-size: 18px;
    line-height: 28px;
}

.invoice-details {
    font-weight: 600;
    color: #20233E;
    font-size: 14px;
    line-height: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    border-bottom: 1px solid #D7D8DF;
    margin-top: 8px;
    margin-bottom: 8px;
}

.section-header {
    font-size: 12px;
    color: #20233E;
    font-weight: 600;
    line-height: 16px;
}

.section-content {
    font-size: 16px;
    color: #20233E;
    font-weight: 600;
    line-height: 24px;
}

table {
    width: 100%;
    margin: 0 20px;
    background: #FFF;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
}

th, td {
    border: 1px solid #CBD3E7;
    padding: 4px 8px;
}

th {
    background: #F8F9FC;
    color: #2E3252;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #5E72A9;
}

/* Apply border-radius to the first and last table header cells */
th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

/* Apply border-radius to the first and last table row cells */
tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.invoice-info {
    display: flex;
    flex-direction: column;
}

.table-cell {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 0;
    border: none;
}

.table-full-width {
    width: 100%;
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.no-border {
    border: none;
    margin: 0;
    padding: 0;
}

.text-right {
    text-align: right;
}

.address {
    display: block;
}

.date-label {
    margin-top: 16px;
}

.supplier-address, .municipality-address {
   font-weight: 400;
}

.name{
  min-height: 100vh;
  max-width: 50%;
}

