@use '../../../../../../libs/shared-assets/_styles/mixins.scss' as mixins;
@use '../../shared/styles/apply-for-pass-common.scss';

:host {
	@include mixins.size(100%, 100%);

	.additional-information-form {
		padding-top: 12px;
	}
}
