@use '../../../../../../libs/shared-assets/_styles/full-size-pannel';

:host {
	::ng-deep {
		tr:last-of-type {
			td {
				border-bottom: none;
			}
		}

		.card-content {
			max-height: calc(100vh - 220px);
		}

		.no-offers-data {
			overflow: hidden !important;

			.windmill-card-container {
				height: 100vh;
				max-height: calc(100vh - 80px);
			}
		}
		
		.panel-content {
			overflow: hidden !important;
		}

		.centric-panel-container {
			max-height: unset !important;
		}
	}
}
