@if (isDataExisting) {
	<frontend-table
		#offersMunicipalityTable
		class="table-pannel"
		[columns]="allColumns"
		[columnWithChips]="'benefit'"
		[typeOfT]="typeOfModal"
		[shouldDisplayButtonForChips]="false"
		[showFooter]="true"
		[showHeader]="!isSupplierAvailable"
		[listLength]="dataCount"
		(actionButtonClicked)="onActionButtonClicked($event)"
		(loadDataEvent)="loadData($event)">
		<ng-container>
			<span class="left-container">{{ 'general.pages.pendingOffers' | translate }} </span>
			<!-- <section class="right-container">
      <centric-button
        ariaAttributes
        type="outlined-theme"
        iconId="filter_b"
        [ariaLabelTranslation]="'general.button.filter'">
        {{ 'general.button.filter' | translate }}
      </centric-button>
    </section> -->
		</ng-container>
	</frontend-table>
} @else {
	@if (isOffersSupplierPath) {
		<frontend-no-data
		class="no-data"
			[noDataTitle]="'pendingOffer.noData.title'"
			[noDataDescription]="'pendingOffer.noData.description'">
		</frontend-no-data>

	} @else {
		<windmill-card
			class="no-offers-data"
			[class.full-height]="!!supplierId"
			[class.table-pannel]="isSupplierAvailable"
			[class.full-size-panel]="true"
			[hasFooter]="false"
			[hasHeader]="!isSupplierAvailable">
			<ng-container card-header>
				<span class="left-container">{{ 'general.pages.pendingOffers' | translate }} </span>
			</ng-container>
			<ng-container card-content>
				<frontend-no-data
					[noDataTitle]="'pendingOffer.noData.title'"
					[noDataDescription]="'pendingOffer.noData.description'">
				</frontend-no-data>
			</ng-container>
		</windmill-card>
	}
}
