@use '../../../../../../libs/shared-assets/_styles/mixins' as mixins;

:host {
	::ng-deep {
		mat-dialog-container [mat-dialog-content] {
			@include mixins.flex(row, space-between, flex-start);
		}
	}

	.offer-information {
		display: flex;
	}
}
