@if(shouldBeDisplayed) {
<form [formGroup]="createOfferForm">
	<centric-form-item>
		<centric-form-label>{{ 'offer.frequencyOfUse.label' | translate }}</centric-form-label>
		<centric-form-control>
			<centric-radio-group formControlName="frequencyOfUseValue" [inline]="true">
				@for (type of getFrequencyOfUseData(); track type) {
					<centric-radio
						[value]="mapToFrequencyOfUseEnum(type)"
						[label]="type | translate"
						[ariaLabel]="type | translate"
						(click)="onRestrictionTypeChange('frequencyOfUse', mapToFrequencyOfUseEnum(type))">
					</centric-radio>
				}
			</centric-radio-group>
		</centric-form-control>
	</centric-form-item>
</form>
}
