@use '../../../../../../libs/shared-assets/_styles/mixins' as mixins;
@use '../../../../../../libs/shared-assets/_styles/form';

:host {
	form {
		width: 100%;
	}
}
.restrictions-section {
	@include mixins.flex(column, $gap: 16px);
}

.restriction-items-section {
	@include mixins.flex(column, $gap: 24px);
}
