<section mat-dialog-title>
  <h3>
    {{ title | translate }}
  </h3>
  <button
    ariaAttributes
    mat-dialog-close
    class="close-button"
    [attr.ariaLabel]="'general.button.close' | translate"
    [ariaLabelTranslation]="'general.button.close'"
    (click)="close()">
    <windmill-icon [svgIcon]="'cancel_b'" [size]="'16'"></windmill-icon>
  </button>
</section>
<div mat-dialog-content>
  @if (createOfferForm) {
    <form centric-complex-form [formGroup]="createOfferForm">
      @if (shouldDisplayReactivationAlert()) {
        <centric-alert
          [type]="alertType"
          [hasCloseButton]="true"
          (closed)="alertDismissed = true"
          [ariaLabelCloseButton]="'general.button.close' | translate">
          <div [innerHTML]="alertMessage | translate"></div>
        </centric-alert>
      }
      @if (shouldDisplayExpiredBenefitAlert()) {
        <centric-alert
          [type]="alertType"
          [hasCloseButton]="true"
          (closed)="alertBenefitDismissed = true"
          [ariaLabelCloseButton]="'general.button.close' | translate">
          <div [innerHTML]="alertBenefitMessage | translate"></div>
        </centric-alert>
      }
      <div class="title-group" [attr.aria-hidden]="true">{{ 'offer.offer' | translate }}</div>
      <centric-form-item>
        <centric-form-label>{{ 'offer.title' | translate }}</centric-form-label>
        <centric-form-control frontendRequiredInput>
          <windmill-input
            frontendHtmlContentValidator
            formControlName="title"
            [readonly]="isReadOnlyMode"
            [placeholder]="'offer.titlePlaceholder' | translate"
            [maxLength]="256"
            [hasClearIcon]="true"
            [ariaLabelClearIcon]="'general.label.close' | translate"
            [ariaLabel]="'offer.titlePlaceholder'"
            [validationFunction]="validationFunctionError.bind(this, 'title', createOfferForm)">
            @if (hasFormControlRequiredErrors('title', createOfferForm)) {
              <ng-container errors>
                <span class="centric-error-message">
                  {{ getErrorMessageFormInputs('title') }}
                </span>
              </ng-container>
            }
            @if (createOfferForm.get('title')?.hasError('isHTML')) {
              <ng-container errors>
                <span class="centric-error-message">
                  {{ 'errors.htmlContent' | translate }}
                </span>
              </ng-container>
            }
          </windmill-input>
        </centric-form-control>
      </centric-form-item>
      <centric-form-item>
        <centric-form-label>{{ 'general.acceptedBenefit' | translate }}</centric-form-label>
        @if (updatedBenefits) {
          <windmill-dropdown-search
            frontendRequiredInput
            formControlName="benefitIds"
            valuePropertyName="id"
            displayPropertyName="name"
            dropdownPlaceholder="{{ getBenefitPlaceholder | translate }}"
            [readonly]="isReadOnlyMode || isOfferClaimed"
            [source]="updatedBenefits"
            [maxHeight]="256"
            [hasClearIcon]="true"
            [multiple]="!isEditMode"
            [ariaLabelClearButtonSearchInput]="'general.label.close' | translate"
            [ariaLabelClearButton]="'general.label.close' | translate"
            [validationFunction]="validationFunctionError.bind(this, 'benefitIds', createOfferForm)"
            (valueChanged)="onValueChangeOnCheckedBenefits($event)"
            (searchValueChange)="onSearchOnBenefits($event)">
            @if (hasFormControlRequiredErrors('benefitIds', createOfferForm)) {
              <ng-container errors>
                <span class="centric-error-message">{{ getErrorMessageFormInputs('benefitIds') }} </span>
              </ng-container>
            }
          </windmill-dropdown-search>
        }
      </centric-form-item>
      <centric-form-item>
        <centric-form-label>{{ 'offer.typeOfOffer' | translate }}</centric-form-label>
        @if (updatedSource) {
          <windmill-dropdown-search
            frontendRequiredInput
            formControlName="offerTypeId"
            valuePropertyName="offerTypeId"
            displayPropertyName="offerTypeLabel"
            dropdownPlaceholder="{{ 'offer.typeOfOfferPlaceholder' | translate }}"
            [readonly]="isReadOnlyMode || isOfferClaimed"
            [source]="updatedSource"
            [maxHeight]="256"
            [hasClearIcon]="true"
            [ariaLabelClearButtonSearchInput]="'general.label.close' | translate"
            [ariaLabelClearButton]="'general.label.close' | translate"
            [ariaLabel]="'offer.typeOfOfferPlaceholder'"
            [validationFunction]="validationFunctionError.bind(this, 'offerTypeId', createOfferForm)"
            (valueChanged)="onValueChangeOnOfferTypes($event)"
            (searchValueChange)="onSearchOnOfferTypes($event)">
            @if (hasFormControlRequiredErrors('offerTypeId', createOfferForm)) {
              <ng-container errors>
                <span class="centric-error-message">{{ getErrorMessageFormInputs('offerTypeId') }} </span>
              </ng-container>
            }
          </windmill-dropdown-search>
        }
      </centric-form-item>
      <div [class.hidden]="hideAmount">
        <centric-form-item>
          <centric-form-label>{{ amountLabel | translate }}</centric-form-label>
          <centric-form-control frontendRequiredInput>
            <windmill-input
              formControlName="amount"
              type="text"
              [readonly]="isReadOnlyMode || isOfferClaimed"
              [maxLength]="maxLength"
              [placeholder]="getAmountPlaceholder(selectedOfferTypeId)"
              [suffix]="showSuffix"
              [prefix]="showPrefix"
              [mask]="showDecimal"
              [ariaLabelClearIcon]="'general.label.close' | translate"
              [ariaLabel]="'offer.amountPlaceholder'"
              [validationFunction]="validationFunctionError.bind(this, 'amount', createOfferForm)">
              @if (hasFormControlRequiredErrors('amount', createOfferForm)) {
                <ng-container errors>
                  <span class="centric-error-message">
                    {{ getErrorMessageFormInputs('amount') }}
                  </span>
                </ng-container>
              }
              @if (createOfferForm.get('amount')?.hasError('nonZeroAmount')) {
                <ng-container errors>
                  <span class="centric-error-message">
                    {{ 'genericFields.amount.nonZeroAmount' | translate }}
                  </span>
                </ng-container>
              }
              @if (createOfferForm.get('amount')?.hasError('nonMaxBenefitAmount')) {
                <ng-container errors>
                  <span class="centric-error-message">
                    {{
                    'genericFields.amount.nonMaxBenefitAmountValidator'
                    | translate: { amount: benefitAmount }
                    }}
                  </span>
                </ng-container>
              }
              @if (benefitAmount) {
                <ng-container hints style="padding-top: 12px">
                  <span class="centric-hint-message">
                    {{ 'offer.maxValueValidator' | translate: { amount: benefitAmount } }}
                  </span>
                </ng-container>
              }
            </windmill-input>
          </centric-form-control>
        </centric-form-item>
      </div>
      <centric-form-item>
        <centric-form-label>{{ 'offer.description' | translate }}</centric-form-label>
        <centric-form-control frontendRequiredInput>
          <centric-textarea2
            formControlName="description"
            frontendHtmlContentValidator
            [readonly]="isReadOnlyMode"
            [placeholder]="'offer.descriptionPlaceholder' | translate"
            [ariaLabel]="'offer.descriptionPlaceholder'"
            [ariaLabelClearIcon]="'general.label.close' | translate"
            [validationFunction]="validationFunctionError.bind(this, 'description', createOfferForm)"
					(textareaValueChanged)="
						characterLimitServiceInstance.onTextareaValueChanged($event, maxTextAreaLength)
					"
            (clearValue)="characterLimitServiceInstance.onClearValue(maxTextAreaLength)">
            @if (!characterLimitServiceInstance.isOverCharacterLimit && !isViewMode) {
              <ng-container hints>
                <span class="centric-hint-message">
                  {{
                  characterLimitServiceInstance.messageKey
                  | translate: { count: characterLimitServiceInstance.messageCount }
                  }}
                </span>
              </ng-container>
            } @else {
              <ng-container errors>
                <span class="centric-error-message">
                  {{
                  characterLimitServiceInstance.messageKey
                  | translate: { count: characterLimitServiceInstance.messageCount }
                  }}
                </span>
              </ng-container>
            }
            @if (hasFormControlRequiredErrors('description', createOfferForm)) {
              <ng-container errors>
                <span class="centric-error-message">
                  {{ getErrorMessageFormInputs('description') }}
                </span>
              </ng-container>
            }
            @if (createOfferForm.get('description')?.hasError('isHTML')) {
              <ng-container errors>
                <span class="centric-error-message">
                  {{ 'errors.htmlContent' | translate }}
                </span>
              </ng-container>
            }
          </centric-textarea2>
        </centric-form-control>
      </centric-form-item>
      <centric-form-item-group [type]="'inline'">
        <centric-form-item>
          <centric-form-label>{{ 'genericFields.validity.label' | translate }}</centric-form-label>
          <centric-form-control role="group" frontendRequiredInput>
            <section class="validity">
              <label class="time-label"> {{ 'general.from' | translate }} </label>
              <windmill-date-picker
                formControlName="startDate"
                [id]="'id-from'"
                [placeholder]="'general.dateFormat' | translate"
                [ariaLabel]="'general.dateFormat' | translate"
                [ariaLabelClearIcon]="'general.label.close' | translate"
                [hasClearIcon]="true"
                [readonly]="isViewMode"
                [validationFunction]="validationFunctionError.bind(this, 'startDate', createOfferForm)"
                [min]="getInitDateMin()"
                [max]="getExpirationDateMax(true)"
                (dateChange)="onStartDateChange()">
              </windmill-date-picker>
              <label class="time-label"> {{ 'general.to' | translate }} </label>
              <windmill-date-picker
                formControlName="expirationDate"
                [id]="'id-to'"
                [placeholder]="'general.dateFormat' | translate"
                [ariaLabel]="'general.dateFormat' | translate"
                [hasClearIcon]="true"
                [readonly]="isViewMode"
                [ariaLabelClearIcon]="'general.label.close' | translate"
                [min]="expirationDateInit(createOfferForm.controls['startDate'].value, false)"
                [max]="getExpirationDateMax()"
							[validationFunction]="
								validationFunctionError.bind(this, 'expirationDate', createOfferForm)
							">
              </windmill-date-picker>
            </section>
          </centric-form-control>
          @if (displayDateValidityError()) {
            <ng-container errors>
              <div class="states-messages">
                <span class="centric-error-message">
                  {{ getErrorMessageFormInputs('validity') }}
                </span>
              </div>
            </ng-container>
          }
        </centric-form-item>
      </centric-form-item-group>
      <centric-form-item-group [type]="'inline'">
        <centric-form-item class="restrictions-section">
          @if (shouldDisplayRestrictionsTitle) {
            <centric-form-label class="title-group">{{ 'offer.restrictions' | translate }}</centric-form-label>
          }
          <div
            class="restriction-items-section"
					[ngClass]="{
						'no-restriction':
							isViewMode &&
							shouldDisplayRestriction(RestrictionFormFields.timeSlots) &&
							!shouldDisplayRestriction(RestrictionFormFields.frequencyOfUseValue),
					}">
            @for (field of restrictionFields; track field) {
              @switch (field.restriction) {
                @case ('frequencyOfUse') {
                  <frontend-frequency-of-use
                    [isReadonly]="isReadOnlyMode || isEditMode"
                    [createOfferForm]="createOfferForm"
								[shouldBeDisplayed]="
									shouldDisplayRestriction(RestrictionFormFields.frequencyOfUseValue)
								"></frontend-frequency-of-use>
                }
                @case ('timeSlots') {
                  <frontend-time-slots
                    [generalForm]="createOfferForm"
								[shouldBeDisplayed]="
									shouldDisplayRestriction(RestrictionFormFields.timeSlots)
								"></frontend-time-slots>
                }
                <!-- <frontend-age-restriction
                *ngSwitchCase="'ageRestriction'"
                [isReadonly]="isReadOnlyMode"
                [showDecimal]="showDecimal"
              [createOfferForm]="createOfferForm"></frontend-age-restriction>
              <frontend-price-range
                *ngSwitchCase="'priceRange'"
                [isReadonly]="isReadOnlyMode"
                [createOfferForm]="createOfferForm"
                [clickedOutsideFieldPrice]="clickedOutsideFieldPrice"
              [showDecimal]="showDecimal"></frontend-price-range> -->
            }
          }
        </div>
      </centric-form-item>
    </centric-form-item-group>
  </form>
}
</div>
<section mat-dialog-actions>
  @if (!isNewOffer && !isActiveOffer) {
    <centric-button ariaAttributes type="ghost-greyscale" (click)="deleteOffer()">
      {{ 'offer.delete.titleSingular' | translate }}
    </centric-button>
  } @else if (isViewMode && data?.offerToSuspend) {
    <centric-button ariaAttributes type="ghost-greyscale" (click)="reinitializeDialog()">
      {{ 'general.button.edit' | translate }}
    </centric-button>
  }

  <centric-button ariaAttributes [type]="isViewMode ? 'ghost-theme' : 'ghost-greyscale'" (click)="close()">
    {{ 'general.button.cancel' | translate }}
  </centric-button>

  @if (!isViewMode && !(isOfferClaimed && isOfferBenefitUnavailable) && !isSuspendedOffer) {
    <centric-button ariaAttributes [disabled]="shouldDisableSaveButton()" (click)="confirmDialog()">
      {{
      (isReactivating
      ? 'offer.reactivateOffer'
      : isReapplyMode
      ? 'general.button.applyAgain'
      : isViewMode
      ? 'general.button.edit'
      : isEditMode
      ? 'general.button.saveChanges'
      : 'general.button.save'
      ) | translate
      }}
    </centric-button>
  } @else if (isViewMode && !isSuspendedOffer) {
    <centric-button ariaAttributes (click)="reinitializeDialog()">
      {{
      (isExpiredOffer
      ? 'offer.reactivateOffer'
      : isRejectedOffer
      ? 'general.button.applyAgain'
      : 'general.button.edit'
      ) | translate
      }}
    </centric-button>
  } @else if (isViewMode && isSuspendedOffer) {
    <centric-button ariaAttributes (click)="suspendOffer()">
      {{ 'general.button.suspend' | translate }}
    </centric-button>
  }
</section>
