@use '../../../../../../../libs/shared-assets/_styles/mixins' as mixins;

:host {
	::ng-deep {
		.panel-header {
			div {
				windmill-combo-button {
					margin: 0 0 0 auto;
				}
			}
		}

		.panel-content {
			@include mixins.flex(column, space-between, space-between);
			@include mixins.size(100%, 100%);
			padding: 32px 32px 32px 16px;

			.outer-chart-container {
				@include mixins.flex(column, center, center);
				@include mixins.size(100%);

				&.used-chart {
					align-items: flex-start;
				}

				.inner-chart-container {
					@include mixins.size(90%, 26vh);
				}

				.inner-used-offers-container {
					@include mixins.size(100%, 26vh);
				}
			}
		}
	}
}

@media only screen and (max-width: 1536px) {
	:host {
		::ng-deep {
			.panel-content {
				@include mixins.flex(column, flex-start, flex-start);
				gap: 16px;
			}
		}
	}
}

@media only screen and (max-width: 1366px) {
	:host {
		::ng-deep {
			.panel-content {
				.outer-chart-container {
					padding: 32px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1180px) {
	:host {
		::ng-deep {
			.panel-content {
				.outer-chart-container {
					padding: 16px;
				}
			}
		}
	}
}